html {
  --green1: rgb(195, 211, 178);
  --green2: rgb(161, 184, 141);
  --green3: rgb(68, 89, 66);
  --tan: rgb(218, 210, 186);
  --red: rgb(179, 34, 48);
}

body {
  box-sizing: content-box;
}

.Container {
  background-color: rgba(255, 255, 255, 0.96);
  border-radius: 1%;
  margin-top: 20px;
}

#root {
  background-color: hsl(437, 90%, 36%);
  background-size: 3360px 1932px;
  background-image: url("/ht-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
  background-color: #61892f;
  background-blend-mode: screen;
  /* height: 100vh; */
}

.table-bordered {
  font-size: 0.8rem !important;
}

th {
  font-size: 0.6rem;
  text-align: center !important;
  padding: 0.9em !important;
}

@media screen and (min-width: 1000px) {
  .table-bordered {
    font-size: 1rem !important;
  }

  th {
    font-size: 1rem;
  }
}
