.Wave {
  max-width: 90%;
  margin: 0 auto;
  //   border: 1px solid #000;
  .download-icon {
    color: var(--green3);
    opacity: 0.9;
    font-size: 40px;
  }

  .download-icon:hover {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    opacity: 1;
  }
  i {
    padding: 7px 32px;
    font-size: 1.5rem;
    margin: 0 5px;
    color: grey;
  }

  .btn-play,
  .btn-pause {
    border: 2px solid;
    background-color: #fff;

    &:hover {
      cursor: pointer;
    }
  }

  .controls {
    display: flex;
    padding: 20px;
    box-shadow: 7px 8px 0px 0px#00000047;
    background-color: var(--tan);
    position: relative;
    width: 400px;
  }
}
