.Wave {
  max-width: 90%;
  margin: 0 auto;
  //   border: 1px solid #000;
  .download-icon {
    color: var(--green3);
    opacity: 0.9;
    font-size: 40px;
  }

  .download-icon:hover {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    opacity: 1;
  }
  i {
    padding: 7px 32px;
    font-size: 1.5rem;
    margin: 0 5px;
    color: grey;
  }

  .btn-play,
  .btn-pause {
    border: 2px solid;
    background-color: #fff;
    margin-left: 20px;
    &:hover {
      cursor: pointer;
    }
  }

  .btn-stop {
    &:hover {
      cursor: pointer;
    }
  }

  .controls {
    display: flex;
    align-items: center;
    // justify-content: flex-start;
    margin-top: 20px;
    width: 400px;
    padding: 5px 20px;
    box-shadow: 3px 5px 4px 0px#00000047;
    background-color: var(--tan);
  }

  .controls-badge-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .results-badge {
    margin-top: 25px;
    border: 1px solid #000;
    float: right;
    padding: 10px;
  }

  .current-track-title {
    margin-top: 20px;
    font-weight: 700;
    color: #a3ff41;
    padding: 10px 40px;
    letter-spacing: 2px;
  }
}
