.badge-controlpanel-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 5px 4px 0px#00000047;
  background-color: var(--tan);
}

.controls-badge-wrapper {
  //   border: 1px solid #000;
  //   align-items: center;
  text-align: center;
}

.btn-play,
.btn-pause {
  border: 2px solid;
  background-color: #fff;
  &:hover {
    cursor: pointer;
  }
}

.btn-stop {
  &:hover {
    cursor: pointer;
  }
}

@media screen and (min-width: 1000px) {
  .badge-controlpanel-wrapper {
    justify-content: space-between;
    flex-direction: row;
  }

  .controls-badge-wrapper {
    display: flex;
  }

  .controls {
    margin-right: 20px;
  }
}
