.NavBar {
  //   padding-bottom: 10px !important;
  .NavBar-logo {
    width: 50px;
  }

  .NavBar-form {
    margin-right: 100px;
  }
}

.nav-link {
  font-size: 1.3rem !important;
}

.navbar-toggler {
  margin-bottom: 0;
}
